<%- include("./partials/header.ejs", {title: "List Doctors"}) %> 
  <%- include("./partials/navbar.ejs") %> 
    <div class="context">
      <h1>List Doctors</h1>
        <a href="/doctor/add" style="float: right; text-align: right;">
          <button
            type="button"
            class="btn btn-outline-dark"
            style="margin-bottom: 5px; float: right;"
          >
            Add Doctor
          </button> 
       </a><br />
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nama Dokter</th>
    <th>Spesialis</th>
    <th>Gender</th>
    <th>Total pasien</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <% for( let i = 0; i < data.length; i++ ) { %>

  <tr>
    <td><%= i+1 %></td>
    <td><%= data[i].getNameDr() %></td>
    <td><%= data[i].specialist %></td>
    <td><%= data[i].gender %></td>
    <td><%= data[i].Patients.length %></td>
    <td>
      <a href="/doctor/appointment/<%= data[i].id %>">
        <button type="button" class="btn btn-dark">
          Make Appointment
        </button>
      </a>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>

<a href="/patient">
  <button type="button" class="btn btn-dark">
    Back
  </button>
</a>
<!-- Optional JavaScript; choose one of the two! -->
<%- include("part/footer.ejs") %>
