<%- include("part/header.ejs",{data:"Add Cast"}) %>
<a href="/patient/add">Add Patient</a>

<form action="/patient/search" method="POST">
  <label for="fname">Search Name:</label><br />
  <input type="text" id="fname" name="search" /><br />
  <input type="submit" value="Submit" />
</form>
<table style="width: 100%">
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Illness</th>
    <th>Action</th>
  </tr>
  <% for( let i = 0; i < data.length; i++ ) { %>

  <tr>
    <td><%= i+1 %></td>
    <td><%= data[i].fullName() %></td>
    <td><%= data[i].age %></td>
    <td><%= data[i].illness %></td>
    <td>
      <a href="/patient/<%=data[i].id%>/edit">Edit</a> |
      <a href="/patient/<%=data[i].id%>/delete">Delete</a> |
      <a href="#"> appointment</a>
    </td>
  </tr>

  <% } %>
</table>

<!-- Optional JavaScript; choose one of the two! -->
<%- include("part/footer.ejs") %>
